{% extends "admin/base_site.html" %}
{% load i18n admin_urls static admin_list score_analysis_tags %}

{% block extrastyle %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="{% static "admin/css/changelists.css" %}">
{% endblock %}

{% block content %}
<div id="content-main">
    <div class="module filtered" id="changelist">
        <div class="results">
            <table id="result_list">
                <thead>
                    <tr>
                        <th scope="col">考试ID</th>
                        <th scope="col">考试名称</th>
                        <th scope="col">文科配置</th>
                        <th scope="col">理科配置</th>
                        <th scope="col">未分科配置</th>
                        <th scope="col">操作</th>
                    </tr>
                </thead>
                <tbody>
                {% for exam in exams %}
                    <tr class="{% cycle 'row1' 'row2' %}">
                        <td>{{ exam.exam_id }}</td>
                        <td>{{ exam.exam_name }}</td>
                        {% for select_type in select_types %}
                        <td>
                            {% with config=config_map|dict_get:exam.exam_id|dict_get:select_type %}
                            <a href="{% url opts|admin_urlname:'config' exam.exam_id select_type %}"
                               class="button default">
                                {% if config %}
                                    查看配置
                                {% else %}
                                    创建配置
                                {% endif %}
                            </a>
                            {% endwith %}
                        </td>
                        {% endfor %}
                        <td>
                            <a href="{% url opts|admin_urlname:'basic_stats' exam.exam_id %}"
                               class="button stats-button">
                                基础统计
                            </a>
                            <a href="{% url opts|admin_urlname:'reset_exam' exam.exam_id %}"
                               class="button reset-button"
                               onclick="return confirm('警告：这将重置该考试的所有配置到默认值。确定要继续吗？');">
                                重置配置
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>


{% if messages %}
<div class="messages">
    {% for message in messages %}
    <div class="{% if message.tags %}{{ message.tags }}{% endif %}">
        {{ message }}
    </div>
    {% endfor %}
</div>
{% endif %}

{% endblock %}